* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2, p {
    color: #6583c6;
    font-weight: 500;
    opacity: 0.8;
}
h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}
main {
    /*add font family here to effect whole page*/
    font-family: 'Poppins', sans-serif;
    /*This should take up full space of monitor*/
    min-height: 100vh;
    /*This gives a a 2 colored background starting from the right to the top*/
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    /*adding flex allows you to align items horizontally - YOU HAVE TO ADD FLEX IN ORDER FOR ALIGN ITEMS AND JUSTIFY CONTENT TO WORK*/
    display: flex;
    align-items: center;
    /*adding justifycontent is allowing you to align items vertically*/
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    /*to stretch the page out*/
    width: 60%;
    /*how to add glass looking effect to white box by using rgba for opacity. 0.7 & 0.3 is staying right to bottom 70% and 30% */
    background: linear-gradient(
            to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
    );
    /*adding border-radius makes the borders rounded - 2rem is the same as 20px*/
    border-radius: 2rem;
    /*the higher the number in the zindex, the more forward the class comes to the front of the page*/
    z-index: 2;
    /*this adds a blur effect the higher the rem the more blurred*/
    backdrop-filter: blur(2rem);
    /*flex positions the divs inside next to each other*/
    display: flex;

}
.circle1, .circle2 {
    background: white;
    background: linear-gradient(
            to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
    );
    /*Height and width has to be the same so border radius works*/
    height: 20rem;
    width: 20rem;
    /*must add postion in order for it to be moved*/
    position: absolute;
    /*this moves it to the top left by adding top and left */
    border-radius: 50%;
}
/*this moves both circle classes in different directions*/
.circle1 {
    top: 5%;
    right: 15%;
}
.circle2 {
    bottom: 5%;
    left: 10%;
}

.dashboard {
    /*takes up all the available space */
    flex: 1;
    display: flex;
    /*this moves all items in a column*/
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /*this aligns the text */
    text-align: center;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
}
.tasks {
    flex: 2;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    /*spaces the whole div evenly*/
    justify-content: space-evenly;
}
.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2 {
    padding: 0rem 2rem;
}

.buy {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    display: flex;
    /*add this to make the image work with this div*/
    position: relative;
}

.buy img {
    position: absolute;
    top: 30%;
    right: 10%;
}
.buy h2 {
    /*stretches the text out more vertically and stacks ontop of each other*/
    width: 40%;
    color: white;
    font-weight: 600;
}

/*TASK DIV*/
.status {
    /*to push the content down */
    margin-bottom: 3rem;

}

.status input {
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
    );
    /*removes border from around*/
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.card {
    display: flex;
    background: linear-gradient(
        to left top,
        gba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    /*x/y position is 6 and 20 is the amount of blur*/
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.221);
    justify-content: space-between;
}
percentage {

}